extends layout
block content
  link(rel="stylesheet" type="text/css" href="/css/indexb.css")
  link(rel="stylesheet" type="text/css" href="/css/emailListSignup.css")
  .index
    h2 Littlstar Monitoring Service
  script(src="/js/index.js")